* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
	width: 1258px;
	height: 3300px;
	margin: 0 auto;
	background-image: url(../images/BG.png);
}

#header {
	width: 954px;
	height: 176px;
	margin: 0 auto;
	background-image: url(../images/heared_bg.png);
}

#logo {
	width: 192px;
	height: 60px;
	background-color: #68B905;
	float:left;
}

#login {
	width: 192px;
	height: 60px;
	background-color: #335F44;
	margin-left: 200px;
}
/* Блок Анонс следующего выпуска */
#content_1 {
	width: 896px;
	height: 74px;
	background-color: #FFFFFF;
	margin: 30px auto;
}

#content1_1 {
	width: 24px;
	height: 74px;
	background-color: #F93E78;
	float: left;
}

#content1_2 {
	width: 166px;
	height: 74px;
	background-color: #F93E78;
	margin-left: 27px;
	float: left;
}

#anons_data_text {
	width: 700px;
	height: 74px;
	/*border: 1px solid black;*/
	margin-left: 198px;
}

#anons_logo {
	margin-top: 20px;
  margin-left: 20px;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
   }

   ul.hr li {
    display: inline-block; /* Отображать как строчный элемент */
    margin-right: 2px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    /*padding: 3p*/
    width: 114px;
    height: 29px;
    background-color: #68B905;
    border:none;
    margin-bottom: 10px;
   }

   ul.hr > li:last-of-type {
   	margin-right:0;
   }

#karusel {
	width: 896px;
	height: 167px;
	background-color: #FFFFFF;
	margin: 50px auto;
}

#kar_1 {
	width: 194px;
	height: 149px;
	background-color: #FF809D;
	float: left;
	margin-right: 40px;
}

#kar_1_shapka {
	width: 194px;
	height: 42px;
	background-color: yellow;
	float: left;
	margin-right: 40px;
}

#kar_2 {
	width: 194px;
	height: 149px;
	background-color: #FF809D;
	float: left;
	margin-right: 40px;
}

#kar_2_shapka {
	width: 194px;
	height: 42px;
	background-color: yellow;
	float: left;
	margin-right: 40px;
}

#kar_3 {
	width: 194px;
	height: 149px;
	background-color: #FF809D;
	float: left;
	margin-right: 40px;
}

#kar_3_shapka {
	width: 194px;
	height: 42px;
	background-color: yellow;
	float: left;
	margin-right: 40px;
}

#kar_4 {
	width: 194px;
	height: 149px;
	background-color: #FF809D;
	float: left;
}

#kar_4_shapka {
	width: 194px;
	height: 42px;
	background-color: yellow;
	float: left;
	margin-right: 40px;
}

/*К блоку Комментарии */
#comments {
	width: 896px;
	height: 284px;
	margin: 0px auto;
	background-color: #D0FF00;
}

#com_content {
	width: 896px;
	height: 250px;
	background-color: #FFFFFF;
}

/*Блок Читайте и Зарабатывайте*/
#bloc1 {
	width: 954px;
	height: 344px;
	margin: 30px auto;
	background-color: #FFFFFF;
}

#bloc1_head {
	width: 954px;
	height: 69px;
	margin: 0px auto;
	background-color: #50C200;
}

#bloc1_bod1 {
	width: 476px;
	height: 114px;
	background-color: #A0A0A0;
	float: left;
}

#bloc1_bod2 {
	width: 476px;
	height: 114px;
	background-color: #A0A0A0;
	float: right;
}

#bloc1_bod3 {
	width: 476px;
	height: 159px;
	background-color: #A0A0A0;
	margin-top: 2px;
	float: left;
}

#bloc1_bod4 {
	width: 476px;
	height: 159px;
	background-color: #A0A0A0;
	margin-top: 2px;
	float: right;
}

/*Блок Графика*/
#bloc2 {
	width: 954px;
	height: 507px;
	margin: 20px auto;
	background-color: #FFFFFF;
}

#bloc2_graf_text {
	width: 954px;
	height: 85px;
	margin: 0px auto;
	background-color: #D5D5D5;
}

#bloc2_bod1 {
	width: 206px;
	height: 422px;
	background-color: #A0A0A0;
	float: left;
	margin-left: 28px;
}

#bloc2_bod2 {
	width: 206px;
	height: 422px;
	background-color: #A0A0A0;
	float: left;
	margin-left: 20px;
}

#bloc2_bod3 {
	width: 444px;
	height: 160px;
	background-color: #A0A0A0;
	float: left;
	margin-left: 20px;
}

#bloc2_bod4 {
	width: 444px;
	height: 160px;
	background-color: #858585;
	float: left;
	margin-left: 20px;
}

/*Блок Информеры*/
#bloc3 {
	width: 954px;
	height: 135px;
	margin: 21px auto;
	background-color: #FFFFFF;
}

/*Блок Трофеи*/
#bloc4 {
	width: 954px;
	height: 660px;
	margin: 22px auto;
	background-color: #FFFFFF;
}

#bloc4_head {
	width: 954px;
	height: 69px;
	margin: 0px auto;
	background-color: #50C200;
}

#bloc4_bod1 {
	width: 476px;
	height: 180px;
	background-color: #A0A0A0;
	float: left;
}

#bloc4_bod2 {
	width: 476px;
	height: 180px;
	background-color: #A0A0A0;
	float: right;
}

#bloc4_bod3 {
	width: 476px;
	height: 180px;
	background-color: #A0A0A0;
	float: left;
	margin-top: 2px;
}

#bloc4_bod4 {
	width: 476px;
	height: 180px;
	background-color: #A0A0A0;
	float: right;
	margin-top: 2px;
}

#bloc4_bod5 {
	width: 476px;
	height: 180px;
	background-color: #A0A0A0;
	float: left;
	margin-top: 2px;
}

#bloc4_bod6 {
	width: 476px;
	height: 180px;
	background-color: #A0A0A0;
	float: right;
	margin-top: 2px;
}

/*FOOTER*/
#footer {
	width: 954px;
	height: 200px;
	margin: 22px auto;
	background-color: #FFFFFF;
}

#footer_logo {
	width: 100px;
	height: 200px;
	border: 1px solid black;
	float: left;
}

#footer_text {
	width: 854px;
	height: 200px;
	border: 1px solid black;
	float: right;
}