/**/

body { background-color: brown; }

p {
  margin:0;
}

h6 {margin:5px 0 10px; color: lime;}

.main_block {
  background-color: skyblue;
  height:200px;
  width:1200px;
  position: relative;
}

.row {
  background-color: gray;
  margin-bottom: 5px;
  width: inherit;
}

.p1 {
  float: left;
  width: 50%;
  background-color: lightgreen;
}


.row:nth-child(2){
  background-color: aqua;
  position: absolute;
  bottom: 50px;
}



.left {
  background-color: lightgreen;
  width:100px;
  height:50px;
}

.row:last-of-type {
  background-color: lightpink;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.our_link {
  display: block;
  padding:20px 0;
}

.our_link:hover {
  background-color: red;
}

