.header {
  background-color: #E19E9E;
  width: 952px;
  height: 174px;
  position: absolute;
}

.conteiner1 {
  background-color: #00BA00;
  width: 234px;
  height: 58px;1
}

.conteiner2 {
  background-color: #005F40;
  width: 234px;
  height: 58px;
  position: absolute;
  left: 234px;
}