.header {
  background-color: #E19E9E;
  width: 200px;
  height: 300px;
  border: 2px solid black;
}

.conteiner {
  background-color: #498AF9;
  width: 100px;
  height: 200px;1
  border: 2px solid black;
}