body {
  width: 0;
  height: 0;
}

#wrapper {
background-image: url(images/back_pic.png);
background-repeat: repeat;
width: 1261px;
height: 2828px;
margin: 0 auto;
}

.header {

}

.headpic {
  text-align: center;

}