body {
  margin: 0;
  padding: 0;
}

#wrapper {

}

  .layout-positioner {
    width: 954px;
    margin: 0 auto;
  }

    #header {
      height: 215px;
      background: url(images/header-background.png) no-repeat center top;
    }

      #logo {
        position: absolute;
        background-color: #68B905;
        padding: 10px 32px;
        width: 170px;
        height: 40px;
      }

      #login-panel {
        position: relative;
        left: 240px;
        width: 234px;
        height: 60px;
        background-color: rgb(51, 95, 68);
      }

      #navigation {
        width: 954px;
        display: inline-flex;
        list-style: none;
        margin: 6px 0 0 0;
        padding: 0;
        justify-content: space-between;
      }

        #navigation a {
          display: block;
          padding: 4px 0;
          width: 114px;
          height: 20px;
          text-align: center;
          font-size: 16px;
          text-decoration: none;
          color: white;
        }

        .button {
          background-color: #68B905;
        }

        #navigation a:hover {
          background-color: #004F1F;
        }

      .clearfix::after {
        display: table;
        content: "";
        clear: both;
      }

      #slogan {
        float: left;
        margin-top: 15px;
        margin-left: 40px;
      }

      #slogan p {
        margin: 0;
        color: white;
        font-size: 18px;
      }

      #right-panel {
        float: right;
      }

      #site-bar li {
        list-style: none;
      }

      #site-bar a {
        display: inline-block;
      }
